<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type"content="text/html; charset=utf-8" />
	<title>知富网修改密码</title>
</head>
<body>
	<div id="wrapper">
		<div id="main" class="clearfix">
			<div class="main-content">
			<h2>点击下面链接重设密码</h2>
			尊敬的${user}用户：
			<a href="${url}">${url}</a>
			</div>			
		</div>
	</div><!--end for wrapper-->
</body>
</html>
