@CHARSET "UTF-8";
/****************************Reset**********************************/
html, body, div, span,
h1, h2, h3, h4, h5, h6, p, pre,
a, table, tbody, tfoot, thead, tr, th, td, ul, ol, li,img,fieldset,iframe {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
vertical-align: baseline;
background: transparent;
}

ul {
list-style-type: none;
}

html {
height: 100%;
}

body {
background-color: #FFFFFF;
font: 12px/1.5 tahoma,arial,\5b8b\4f53;
color: #333333;
height: 100%;
}


div {
border: solid 0px ;
}


.clearfix {
zoom: 1;
}

.clearfix:after {
content: ".";
display: block;
clear: both;
visibility: hidden;
line-height: 0;
height: 0;
}

.clear {
clear: both;
}


a {
color: #666;
text-decoration: none;
}

h3 {
font-size: 18px;
}

h4 {
font-size: 16px;
}

#wrapper{
	margin: 0 auto;
	width: 960px;	
}

span.error{
color:red;	
}


/****************************Header**********************************/
#header {
width: 100%;
height: 100px;
position: relative;
background: url(../../images/header_dash_bg.png) repeat-x;
}


#logo {
/*background: url(images/logo.jpg) no-repeat 0 0;*/
display:block;
left: 20px;
/*text-indent:-9999em;*/
font-size:25px;
top: 30px;
position: absolute;
}


/****************************top nav**********************************/
#nav {
position: absolute;
top: 72px;
font-size: 15px;
font-weight: bold;
left: 150px;
}


#nav li {
float: left;
margin: 0 3px;
}

#nav li a {
color: #FFF;
display: block;
float: left;
background: #000 url(../../images/tabs_left.png) no-repeat left top; /* left corner */
}

#nav li a span {
background: url(../../images/tabs_right.png) no-repeat right top; /* right corner */	
float:left;
text-align: center;
width: 100px;
height: 26px;
cursor: pointer;
padding-top: 2px;
}
	
#nav li a:hover {
background-position: left bottom;
}

#nav li a:hover span {
background-position: right bottom;
}

#nav li a.current {
color: #ec1c23;
background: url(../../images/tabs_left_on.png) no-repeat left; /* left corner */
}

#nav li a.current span {
color: #ec1c23;
background: url(../../images/tabs_left_on.png) no-repeat right; /* left corner */
}

/****************************left nav**********************************/

.left-nav{
margin-top:20px;
width:145px;
border:1px solid #999;
padding:10px 0;	
float:left;
}

.left-nav li{
padding-top:5px;	
}


.left-nav li a{
font-size:13px;
padding-left:20px;
background: url(../../images/grayArrow.gif) no-repeat 10px 4px;
color:#333;
	
}



.left-nav li a.current{
font-size:14px;
color:red;
	
font-weight:bold;
text-decoration: underline;

}

.left-nav li a:hover{
text-decoration: underline;
color:red;

}




/****************************main**********************************/
#main{
}

/****************************main-content**********************************/
.main-content{
padding:20px 0 0 20px;
float:left;	
width:780px;
}






/****************************footer**********************************/
#footer {
margin: 20px auto;
padding-bottom: 10px;
font-size: 11px;
color: #333;
position: relative;
border-top: 1px solid #BDBDBD;
background: url(../../images/header_dash_bg.png) repeat-x 0 -10px;
width: 100%;
clear: both;
}
#footer .contact {
float: right;
margin: 10px 10px 10px 0;
}
#footer .copyright {
font-size: 11px;
color: #333;
margin: 10px 0 10px 10px;
}

/****************************table**********************************/


.normal-table{
width:780px;
border-spacing: 0;
border-left:1px solid #a8abad;
border-collapse: collapse;
margin-bottom:10px;

}

.normal-table .top{
font-weight:bold;

}



.normal-table td{
text-align:center;
padding:8px 0;
border-right:1px solid #a8abad;
border-bottom:1px solid #a8abad;

}

.normal-table tr.even td {
background-color: #F3F3F3;
}

.normal-table .top td{
color:#FFF;
background:transparent url(../../images/calendar_header.png) repeat-x;
padding:7px 0;
border:0;
}



.normal-table .view-detail{
display:block;
width: 62px;
height:22px;
background: transparent url(../../images/btn-bg-mm.png) no-repeat 0 0;
font-size: 12px;
font-weight: bold;
color: #362f2d;
text-decoration: none;
text-align: center;
margin:0 auto;

}

a.batch-del{
display:block;
width: 62px;
height:22px;
background: transparent url(../../images/btn-bg-mm.png) no-repeat 0 0;
font-size: 12px;
font-weight: bold;
color: #362f2d;
text-decoration: none;
text-align: center;

}


.normal-table .operate a{
padding-right:10px;

}
/****************************难题修改页面*****************************/
.row{
padding-bottom:10px;	
clear:both;
}

.row label{
display:block;
float:left;
width:70px;	
}

.tag a{
border:1px solid #0078B6;	
color:#4184BB;
padding:3px 5px;	
margin-right:4px;

}
.hot-tag a{
background:#DAF5FA;
color:#4184BB;
padding:3px 5px;	

}

/****************************招聘修改页面*****************************/
.choose-time{
width:640px;
float:left;	
}

.choose-time span{
display:block;
width:80px;	
height:40px;
float:left;
border:1px solid #999;
margin:0 5px 5px 0;
cursor:pointer;
}
.choose-time span.selected{
background:#eee;
border:1px solid #999;
margin:0 5px 5px 0;
cursor:pointer;
}


/****************************pagenavi*****************************/
.page-nav {
clear: both;
font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
height: 30px;
font-size: 1.0em; /* This may need changed to suit your theme */
-webkit-font-smoothing:antialiased; /* smooths the font in webkit, optional */
float:right;
margin-top: 15px;
}

.page-nav p {
float: left;
padding-top: 5px;
}
.page-nav  input {
float: left;
}

.page-nav a, .page-nav span {
	/* Change this image URL to the relative location of the sprite sheet: */
background:url(../../images/numbers_spritesheet.png) no-repeat;
display: block;
float: left;
width: 28px;
height: 27px;
text-decoration: none;
text-align: center;
line-height: 26px;
margin-right: 3px;
font-weight: bold;
}
.page-nav a:active {
margin-top: 1px;
}
.page-nav .pages, .page-nav .extend {
background: none;
width: auto;
font-weight: normal;
margin-right: 7px;
line-height: 27px;
}
.page-nav .extend {
padding: 0 5px;
margin: 0 5px 0 1px;
}
.page-nav .nextpostslink, .page-nav .previouspostslink, 
	.page-nav .first, .page-nav .last {
text-indent: -9999px;
}

/* Individual color themes */

.page-nav a, .page-nav span {
background-position: 0 0;
color: #717171;
text-shadow: 1px 1px 0 #fff;
}
.page-nav a:hover {
background-position: 0 -27px;
}
.page-nav span.current {
text-shadow: 0 1px 0 #585858;
color: #fff;
background-position: -140px 0;
}

