/****************************Reset**********************************/
html, body, div, span,
h1, h2, h3, h4, h5, h6, p, pre,
a, table, tbody, tfoot, thead, tr, th, td, ul, ol, li,img,fieldset,iframe {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
vertical-align: baseline;
background: transparent;
}

ul {
list-style-type: none;
}

html {
height: 100%;
}

body {
background: #f8f8f8;
font: 12px/1.5 tahoma,arial,\5b8b\4f53;
color: #333333;
height: 100%;
}

a {
text-decoration: none;
color: #259;
}


h1 {
font-size: 30px;
}

h2{
font-size: 20px;
margin-bottom:15px;
margin-top:5px;

	
}
h3{
font-size: 16px;
	
}

h4{
font-size: 16px;
padding:5px 0;	
}

div {
border: solid 0px ;
}


.clearfix {
zoom: 1;
}

.clearfix:after {
content: ".";
display: block;
clear: both;
visibility: hidden;
line-height: 0;
height: 0;
}

.clear{
clear:both;	
}

.fl {
float: left;
}

.fr {
float: right;
}

.btn{
	display: block;
	width: 80px;
	height: 25px;
	background: url(../images/btn-bg-blue-s.png) no-repeat 0 -25px;
	text-align: center;
	line-height: 25px;
	font-size: 13px;
	font-weight: bold;
	color: white;
	border:0;
	cursor:pointer;
}

.btn:hover {
background: url(../images/btn-bg-blue-s.png) no-repeat 0 0;
}

.error{
color:red;	
}
/*************************header***************************/
#container{
	background: url(../images/header.jpg) repeat-x;
	
}

.header_wrap {
height: 140px;
width: 100%;
min-width: 1024px;
}

.header_wrap .header {
width: 960px;
margin: 0 auto;
overflow: visible;
z-index: 9999;
visibility: visible;
position: relative;
z-index:999;
}

.header .logo {
width: 408px;
overflow: hidden;
height: 82px;
}

.header_wrap .header .logo a {
width: 408px;
height: 67px;
display: block;
margin-top:15px;
}

.top-nav {
position: absolute;
right: 0;
top: 10px;
color: #fff;
}
.top-nav li{
float:left;
position:relative;

}

.top-nav li a {
font-size: 13px;
font-family: '微软雅黑','黑体';
line-height: 35px;
text-align: center;
color: white;
padding: 0 5px;
}

.top-nav a.add-content {
position:relative;
}
.top-nav li ul{
position:absolute;
top:25px;	
left: -999em;
background:#fff;
border:1px solid #999;
width:70px;
color:#259;
padding:5px;
}
.top-nav li ul li{
height:25px;
}
.top-nav li ul li a{
color:#259;
line-height: 25px;

}
.top-nav li ul li a:hover{
text-decoration: underline;
}

.top-nav li.hovered ul {
	left: 0;
	 z-index: 300;
}




.main-nav {
margin-top: 10px;
height: 40px;
background: url(../images/nav-bg.png) no-repeat 0 0;

}

.main-nav li {
float: left;
height: 35px;
}

.main-nav li a {
font-size: 16px;
font-family: '微软雅黑','黑体';
line-height: 35px;
text-align: center;
color: #ccc;
width: 104px;
height: 35px;
display: block;
margin-top: 1px;
}



.main-nav li .last {
width: 124px;
}

.main-nav li .current {
vertical-align: bottom;
color: #fff;
}
.cat-wrapper{
position:absolute;
top:122px;	
}
.cat-nav {
width: 940px;
height: 36px;
clear: both;
padding-top: 4px!important;
_padding-top: 9px;
margin: 0 auto;
}
.cat-nav li {
float: left;
height: 35px;
}

.cat-nav li a {
font-size: 13px;
font-family: '微软雅黑','黑体';
background: #E1F0F7;
line-height:36px;
padding: 5px 10px;
-webkit-border-radius: 30px;
-moz-border-radius: 30px;
-o-border-radius: 30px;
border-radius: 30px;
text-decoration: none;
margin: 0 8px 5px 0;
}
.cat-nav li a.current {

background: #259;
color:#fff;

}

.cat-nav li a:hover {
	background: #259;
	color:#fff;
}
/****************************footer**********************************/
.footer {
width: 100%;
background: #3681BC;
line-height: 41px;
clear: both;
float: none;
color: white;
min-width: 1024px;
}
.footer_inner {
width: 948px;
margin: 0 auto;
overflow: hidden;
}

.footer a {
color: white;
}

.footer .a_first {
padding: 0 10px;
}

.footer .a_last {
padding-right: 0px;
padding-left: 10px;
}

/****************************main wrapper**********************************/

.wrapper {
clear: both;
width: 930px;
margin: 0 auto;
float: none;
vertical-align: top;
padding: 15px;
background:#F8F8F8;
border:1px solid #ddd;
}


.box {
border: 1px solid #A3CDED;
background: #fff;
}

.box .title {
width: 687px;
height: 36px;
background: url(../images/tit_bj.jpg) repeat-x;
font-size: 16px;
line-height: 36px;
padding-left: 8px;
color: #F60;
font-family: '华文细黑';
}


.box .content {
padding: 10px;
}

.box .title img {
display: block;
float: left;
margin-top: 7px;
margin-right: 2px;
}


.quick_nav {
width: 695px;
height: 155px;
margin-bottom: 11px;
float: left;
}
.quick_nav .title {
width: 687px;
}

.quick_nav .func_list {
padding-left: 3px;
padding-top: 8px;
overflow: hidden;
}

.quick_nav .func_list a {
display: block;
width: 90px;
text-align: center;
padding-top: 70px;
padding-left: 0px;
padding-right: 0px;
margin-right: 10px;
border: 1px white solid;
font-size: 14px;
font-family: '微软雅黑';
line-height: 20px;
padding-bottom: 5px;
background-color: white;
height: 20px;
overflow: hidden;
float: left;
}
/*************************index***************************/
.icon1{
	display:block;
	float:left;
	width:20px;
	height:24px;
	background:url(../images/ico_small.png) no-repeat 0 -44px;
	
	
}
.icon2{
	display:block;
	float:left;
	width:20px;
	height:24px;
	background:url(../images/ico_small.png) no-repeat 0 -270px;
	
	
}
.icon3{
	display:block;
	float:left;
	width:20px;
	height:24px;
	background:url(../images/ico_small.png) no-repeat 0 -244px;
	
}
.icon4{
	display:block;
	float:left;
	width:20px;
	height:24px;
	background:url(../images/ico_small.png) no-repeat 0 -644px;
	
}
.icon5{
	display:block;
	float:left;
	width:20px;
	height:24px;
	background:url(../images/ico_small.png) no-repeat 0 -746px;
	
}
.icon6{
	display:block;
	float:left;
	width:20px;
	height:24px;
	background:url(../images/ico_small.png) no-repeat 0 -870px;
	
}
/****************************排序搜索**********************************/
.filter{
	height: 43px;
	margin: 0 auto;
	border: 1px #D8D8D8 solid;
	background: #F7F7F7;
	padding: 0 10px;	
	font-size:13px;
	line-height:43px;
	margin-bottom:15px;
	
}

.filter .order{
	float:left;
}
.filter .order label{
font-weight:bold;
padding-right:5px;
}

.filter .order a{
color:#259;
padding-right:5px;

}
.filter .order form{
	float:left;
	padding-right:10px;
}
.filter .order a.current{
color:#666;
}


.filter .order a:hover{
text-decoration: underline;
}

.filter .order a.current:hover{
color:#999;
text-decoration: none;

}


.filter .search{
	float:right;
	
}

.filter .search .text{
width: 150px;
height: 25px;
border: 1px solid #ddd;
background: #FAFAFA;
color: #999;
padding-left: 4px;
line-height: 25px;

}

.filter .search .btn{
	width:27px;
		height:27px;
		border:none;
		line-height:27px;
		background:url(../images/ss_hui.jpg) no-repeat;
		margin-left:-5px;
		display:inline;
}


.filter .search .btn:hover{

background:url(../images/ss.jpg) no-repeat;

}

.filter .job-btn{
float:right;	
margin-top:10px;
margin-left:10px;
}


/****************************难题列表**********************************/

.list{
margin-top:20px;	
	
	
}

.list .item{
	padding-bottom:10px;
	padding:20px 10px 10px 10px;
	border-bottom:1px dashed #999;
}

.list .hovered{
	background-color:#eee;
}

.list .item .pic {
float:left;	
padding-right:10px;
}


.list .item .middle {
	float:left;
	width:500px;
}

.list .item .title {
font-size:14px;
padding-bottom:10px;
}
.list .item .meta {
padding-bottom:5px;
}

.list .item .middle .content {
	width:490px;
	height:90px;
}

.list .item .right {
	float:right;
	width:200px;
}

.list .item .price-deadline {
	height: 85px;
	width:190px;
	font-size:13px;
	margin-right: 10px;
	background: #D8E5F4;
	padding: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;	
	overflow:hidden;
}
.list .item .price-deadline p{
line-height:22px;
height:22px;
overflow:hidden;	
}

.list .item .price-deadline span {
	color:#999;

}
.list .item .price-deadline .num {
	font-size:15px;
	font-weight:bold;
	color:#333;

}

.list .item .price-deadline .date {
	font-size:14px;
	font-weight:bold;

}
.list .item .status {

}
.status div{
	width:130px;
	height:25px;
	text-align:center;
	line-height:25px;
	float:left;

}

.item .status .title{
	font-size:13px;
	font-weight:bold;
	padding:0;
	width:80px;
	
}

.status .status-item{
	font-size:13px;
	border:1px solid #008CD7;
	border-right:0;
	background:#eee;
		
}

.status .last{
	border-right:1px solid #008CD7;

}

.status .current{
	background:#D8E5F4;
	color:#008CD7;
	font-weight:bold;
	
}

.list .item .btn{
	margin:15px 0 0 45px;
}



/*****分页*****/
.page-wrapper{
	background: whiteSmoke;
	border-bottom: 1px solid #E9E6E6;
padding:5px 0;
	width:100%;	
	margin-top:20px;
}

.pagenavi {
	text-align: center;
	margin: 10px 0;

}

.pagenavi span, .pagenavi a, .pagenavi input {
    vertical-align: middle;
}
.pagenavi  a {
border: 1px solid #DDD;
padding: 5px 10px 5px 10px;
background-color: white;
color: #008CD7;
display: inline-block;

}
.pagenavi .current{
padding:0 3px;	
}

.pagenavi a:hover {
border: 1px solid #fc7d39;
background-color: #fff7ea;
color: #fc7d39;
}

.pagenavi .page-prev,.pagenavi .page-next{
	display: inline-block;
	padding:0;
	border:0;
	width: 66px;
	height: 30px;
}

.pagenavi .page-prev-abled{
	background: url(../images/page1.gif) 0px -143px;
}

.pagenavi .page-prev-abled:hover{
	border:0;
	
	background: url(../images/page2.gif) 0px -107px;
}

.pagenavi .page-prev-disabled{
	background: url(../images/page1.gif) no-repeat 0px -187px;


}


.pagenavi .page-next-abled{
	background: url(../images/page1.gif) no-repeat 0px -48px;

} 

.pagenavi .page-next-abled:hover{
	border:0;
	
	background: url(../images/page2.gif) no-repeat 0px -48px;

}

.pagenavi .page-next-disabled{
	border:0;	
	background: url(../images/page1.gif) no-repeat 0px -99px;

}

.jumpTo {
    width: 30px;
    border: 1px solid #ccc;
}




.gopage-submit {
  
}

.gopage-submit:hover {
}
/************兼职job**************/
.job table{
width:100%;
}
.job table td,.job table th{
	border-bottom: 1px dashed #DDD;
	padding: 5px 3px 5px 0;
	word-wrap: break-word;
	word-break: break-word;
}
.job table tr.top th{
	font-size:13px;
	text-align:left;
}

.job table td a{
color:#369;
padding:2px;
}
.job table td a:hover{
color:#fff;
background-color:#369;

}
.job .item span{
	display:block;
	float:left;
	width:150px;
}

/*添加job*/
.row{
line-height: 30px;
clear:both;
font-size:12px;

}

.tag{
	height:25px;
}

.row label{
display:block;
float:left;
width:90px;	
font-weight:bold;
text-align:right;
padding-right:10px;
}

.row input.text{
border:1px solid #ddd;
height:22px;	
}

.row input.narrow{
width:200px;
}
.row input.wide{
width:600px;
}

.row textarea.text{
border:1px solid #ddd;	
width:600px;
height:100px;
}


.row input.btn{

	border:0;
	margin-left:90px;
	cursor:pointer;
}


.choose-time{
width:640px;
float:left;	
margin-left:60px;
}
.no-margin{
	margin-left:0;
	
}
.choose-time span{
display:block;
width:80px;	
height:40px;
float:left;
border:1px solid #ddd;
margin:0 5px 5px 0;
cursor:pointer;
text-align:center;
line-height:40px;
}
.choose-time span.selected{
background:#afeea1;
margin:0 5px 5px 0;
cursor:pointer;
}

/************个人主页**************/
#profile .header_wrap{
height:123px;
}

.sidebar{
float:left;	
width:200px;
word-wrap:break-word;
word-break:normal;
}
.detail-profile{
background: #ECEFF5;
padding:10px;
font-size:13px;	
margin-bottom:20px;
}

.detail-profile p{
line-height:22px;	
}

.side-section{
border: 1px solid #CEE1EE;	
margin-bottom:20px;
}

.side-section .title{
background: #F0F5F8;
padding:5px 10px;	
color:#000;
font-size:14px;	

}

.side-section .content{
padding:5px;
}


.side-section .item{

}


.main-content{
float:left;
margin-left:25px;
width:680px;	
}
.section{
margin-bottom:20px;

}

.section h3{
font-size:16px;	
background: #F0F5F8;
padding:5px;
}

.section .list{
margin-top: 0;
}
.section .list .item{
	float:left;
height:120px;
border-bottom:0;
}
.section .list .item .pic{
	float:none;
padding-right: 0;
}
.section .list .item .des{
text-align:center;
}

/************难题主页**************/

.detail-profile p .price{
font-size:20px;	
padding-left:5px;
}

.section .line-list .item{
border-bottom: 1px dashed #999;	
padding-top:20px;
padding-bottom:10px;
}
.section .line-list .item .pic{
float:left;	
padding-right:15px;
text-align:center;
}
.section .line-list .item .pic .name{
display:block;
font-size:13px;
font-weight:bold;
}
.join-btn {
float: right;
}

.section .content{
padding:20px 5px;
}

.comment-section .item{
border-bottom:1px solid #ddd;
padding:10px 0 0 0;	
}
.comment-section .item .comment-meta .author{
padding-right:10px;	
}
.comment-section .item .comment-meta .comment-time{
color:#999;	
}
.comment-section .item p{
line-height:24px;
padding:4px 0;	
}
.comment-section .reply textarea{
width:500px;
height:200px;
border:1px solid #ddd;	
}


h3 a.edit{
float:right;
font-size:13px;
padding-right:10px;	
padding-top:4px;
}
/************视频主页**************/
.video-left{
	width:630px;
float:left;	
}
.video-right{
	width:280px;
float:right;	
}

.left-video-section{
width:630px;
}
.left-video-section .list{
}
.left-video-section .video-item{
	float:left;
	width:200px;
	height:200px;
	margin-top:10px;
	margin-right:10px;
}
.left-video-section .video-item a{
	display:block;
	width:200px;
	height:200px;
}
.left-video-section .video-item .title{
	margin-top:-50px;
	height:40px;
	background:#000;
	color:#fff;
	padding:5px;
	width:190px;
}

.right-video-section{
	width:280px;
}
.right-video-section .video-item{
	float:left;
	width:130px;
	height:130px;
	margin-top:10px;
	margin-right:10px;
}
.right-video-section .video-item a{
	display:block;
	width:130px;
	height:130px;
}
.right-video-section .video-item .title{
	margin-top:-50px;
	height:40px;
	background:#000;
	color:#fff;
	padding:5px;
	width:120px;
}
.video-cat .list{
	margin-top:10px;
}
.video-cat .cat-item{
	display:block;
	/*width:70px;*/
	margin-right:10px;
	float:left;
	font-size:14px;
	font-weight:bold;
	line-height:20px;
}
.video-cat .subcat{
	display:block;
	width:200px;
	float:left;
	line-height:20px;
}
/************话题主页**************/
.topic-list{
	width:640px;
	float:left;
	margin:20px 20px 20px 0;
}

.topic-list h3{
	font-size: 16px;
	background: #F0F5F8;
	padding: 5px;
	margin-bottom:10px;
}

h3 .btn{
*margin-top:-30px;
}

.topic-list table{
width:100%;
}
.topic-list table td{
	border-bottom: 1px dashed #DDD;
	padding: 3px 3px 3px 0;
	word-wrap: break-word;
	word-break: break-word;
}
.topic-list table .top td{
font-size:13px;
}


.topic-list table td a{
color:#369;
padding:2px;
}
.topic-list table td a:hover{
color:#fff;
background-color:#369;

}
.topic-meta a{
	padding:2px;
}

.topic-meta a:hover{
	color:#fff;
	background:#259;
}

.hot-topic-list{
	width:260px;
	float:left;
	margin:30px 0 20px 0;
}
.hot-topic-list h3{
	font-size: 14px;
	margin-bottom:10px;

}

.hot-topic-list .item{
border-bottom: 1px dashed #DDD;
padding:4px 0;
}

.hot-topic-list .item a{
color:#369;
}
.hot-topic-list .item a:hover{
color:#fff;
background-color:#369;

}
/************添加话题**************/
.back-btn{
float:left;
padding-top:5px;
padding-left:20px;
}

/************单个话题**************/
.topic{
	width:640px;
	float:left;
}

.topic-meta{
	font-size:13px;
	margin-bottom:10px;
}
.comment-list{
	margin-left:60px;
	margin-top:60px;
	
}
.comment-list .item{
	margin-top:30px;
	
}

.comment-list .item .pic{
	float:left;
	margin-right:30px;
}


.comment-list .item .comment-content{
	float:left;
	
	
}

.comment-list .item .comment-content .comment-meta{
	background:#F0F5F8;
	padding:4px;
	width:480px;
	margin-bottom:10px;
}

.comment-list .item .comment-content p{
line-height:22px;
}

.comment-meta a{
padding:2px;	
}
.comment-meta a:hover{
color:#fff;
background-color:#369;	
}
.op a{
padding-left:5px;	
}
blockquote{
border:1px solid #999;
background-color:#eee;
padding:5px;
margin-left:0;	
margin-right:0;	

}

.reply{
margin-top:40px;
}

.reply textarea{
border:1px solid #ddd;
width:560px;
height:150px;	
margin-bottom:10px;
}
/************发布难题**************/
.add-problem{
margin-top:10px;	
}


.tag a{
border:1px solid #0078B6;	
color:#4184BB;
padding:3px 5px;	
margin-right:4px;

}
.hot-tag a{
background:#DAF5FA;
color:#4184BB;
padding:3px 5px;	

}
.add-simple-problem{
margin-top:10px;	
display:none;
}

.success-notice{
	background: url(../images/success.png) no-repeat 10px 5px;
	background-color: #E6EFC2;
	border: 1px solid #C6D880;
	color: #4E6100;	
	height:40px;
	padding:20px 0 0 70px;
	margin-bottom:15px;
	font-size:13px;
}
/************难题修改**************/
.edit-left{
	width:500px;
	float:left;
}
.edit-right{
	width:400px;
	float:left;
}
/************注册**************/
.register .row label{
	width:80px;
	padding-right:10px;
	text-align: right;
}

.register input.text{
	border:1px solid #ddd;
	width:200px;
}


.register input.error{
	border:1px solid red;
}

.register span.error{
	line-height: 19px;
	/*background: url(../images/miss_pic.jpg) no-repeat 5px 3px;*/
	background-color: #FFEAEA;
	display: inline-block;
	padding: 0 4px 0 4px;
}

.pwd-level{
width:220px;
margin:10px 0 0 100px;
}
.register .pwd-level{
width:220px;
margin:10px 0 0 90px;
}


.pwd-level span{
	display:block;
	float:left;
	background-color:#FFD099;
	padding:2px 26px;
	border:1px solid #fff;
	color:#fff;
}


.pwd-level span.current{
	background-color:#F60;
}
.register .captcha label{
	padding-top:50px;
}

.register input.submit{
margin:10px 0 0 90px;
}

.register .button-area a{
padding-top:10px;
padding-left:10px;
}

.rating{
	margin:10px 0;
}

/************index**************/
.index .more{
width:50px;
float:right;

}
.index .more:hover{
	text-decoration: underline;
}
.idea-wrapper .more{
	margin-top: 50px;
	margin-right: 150px;
	width: 50px;
	float: right;
	background: #F8F8F8;
	text-indent: 0;
}

.index .left-content,.index .right-content{
float:left;	
margin-bottom:20px;
}
.index .left-content{
margin-right:20px;	
}
.idea-wrapper,.problem-wrapper{
	width:600px;
}
.idea-wrapper{
	margin-top:0;
}
.idea-wrapper .top-title{
	background: url(../images/idea-title.jpg) no-repeat 0 0;
	text-indent:-9999em;
	height:100px;
}
.idea-wrapper .item,.problem-wrapper .item{
width: 580px;
height: 90px;
float:left;

}
.idea-wrapper .item p,.problem-wrapper .item p{
	line-height:20px;
}
.idea-wrapper .item p{
font-weight:bold;
}
.idea-wrapper .item p span{
color:#256;
font-weight:bold;
}
.index .video-wrapper{

	width:300px;
	float:left;
	margin-top:0;
}
.video-wrapper .top-title{
	background: url(../images/video-title.jpg) no-repeat 0 0;
	text-indent:-9999em;
	height:45px;
	margin-bottom:10px;
}

.video-wrapper .item{
	border:1px solid #ccc;
	margin-right:15px;
	background:#fff;
	margin-bottom:15px;
	padding:10px;
	width:110px;
	height: 100px;
	float:left;
}
.video-wrapper .top-title h3{
	width:100px;
	float:left;
}
.video-wrapper .top-title .more{
	padding-top: 15px;
	width: 50px;
	float: right;
	background: #F8F8F8;
	height: 28px;
	text-indent: 0;
}

.video-wrapper .item .pic{
	padding:0;
}

.video-wrapper .item .title{
	text-align:center;
	font-size: 12px;
}

.problem-wrapper .top-title{
	background: url(../images/problem-title.jpg) no-repeat 0 0;
	text-indent:-9999em;
	height:30px;
	margin-bottom:10px;
}
.problem-wrapper .top-title h3{
	width:100px;
	float:left;
}
.problem-wrapper .top-title .more{
	padding-top:15px;
	width:50px;
	float:right;
}
.problem-wrapper .item{
width:580px;
height: auto;
padding:10px;
border-bottom:1px dotted #ccc;
}
.problem-wrapper .item .title{
border:1px dotted #ccc;
padding:3px;
margin-bottom:10px;
background:#fefefe;
}
.problem-wrapper .des{
height:60px;
}
.problem-more .problem-tips {
width: 315px;
font-weight:bold;
color:#259;
}
.problem-more .problem-tips span{
color:#000;
}
.problem-more .problem-tips a{
color:#999;
text-decoration: underline;
}

.problem-more .problem-add{
	background: url(../images/problem-add.jpg) no-repeat 0 0;
	width:315px;
	height:460px;
}
.problem-add .content{
	padding:60px 10px 0 10px;
	color:#ddd;
	
}
.problem-add .content p{
	padding-bottom:5px;
	
}
.problem-add .content .text{
	border:1px solid #ccc;
border-radius: 5px;
width:280px;
height:20px;
}
.problem-add .content textarea.text{
	border:1px solid #ccc;
border-radius: 5px;
width:280px;
height:40px;
}
.problem-more .problem-interest{
	background: url(../images/problem-interest.jpg) no-repeat 0 0;
	width:315px;
	height:180px;
}
.problem-interest .content{
	padding:50px 10px 0 10px;
	color:#ddd;
	height:90px;
	
}
.problem-interest .content p{
	padding-left:18px;
	background: url(../images/list.jpg) no-repeat 0 2px;
	line-height:20px;

	
}
.problem-interest .more{
	float:right;
	width:50px;
	height:30px;
	display:block;
	
}
.problem-more .problem-search{
	background: url(../images/problem-search.jpg) no-repeat 0 0;
	width:315px;
	height:95px;
}
.problem-search .content{
	padding:50px 10px 0 10px;
	color:#ddd;
	
}
.problem-search .content .text{
		border:1px solid #ccc;
	border-radius: 5px;
	width:230px;
	height:20px;
}
.job-wrapper{
	width:930px;
}
.job-wrapper .top-title{
	background: url(../images/job-title.jpg) no-repeat 0 0;
	text-indent:-9999em;
	height:30px;
	margin-bottom:10px;
}
.job-wrapper .top-title h3{
	width:100px;
	float:left;
}
.job-wrapper .top-title .more{
	padding-top:6px;
	width:50px;
	float:right;
	background: #F8F8F8;
	text-indent: 0;
}
.job-wrapper .content .item{
width:700px;
padding:5px 0 2px 0;
}
.job-wrapper .content{
width:700px;
}
.job-wrapper .content table{
width:100%;
border-top:1px solid #333;

}

.job-wrapper .content table td{
	
border-bottom:1px dotted #999;
padding:4px;
text-align:center;
border-spacing:0;

}

.job-wrapper .content table .top td{
	color:#666;
	font-weight:bold;
	font-size:13px;
border-bottom:1px dotted #999;
padding:4px;
background-image: -webkit-linear-gradient(top,#FEFEFE,#F3F3F3);
background-image: -moz-linear-gradient(top,#FEFEFE,#F3F3F3);
}
.patent-wrapper{
margin-top:10px;	
width:600px;
}
.patent-wrapper .top-title{
	background: url(../images/patent-title.jpg) no-repeat 0 0;
	text-indent:-9999em;
	height:100px;
}
.patent-wrapper .content{

}
.patent-wrapper .content .item{
width:420px;
padding:5px 5px 5px 0;
}

.patent-wrapper .top-title h3{
	padding-top:75px;
	
	width:100px;
	float:left;
}
.patent-wrapper .top-title .more{
	padding-top:70px;
	width:50px;
	float:right;
	background: #F8F8F8;
	text-indent: 0;
}

.newexpert-wrapper{
	width:300px;
	margin-top:70px;
	margin-left:20px;
}

.patent-wrapper .item .title{
padding-right:10px;	
font-size:12px;
}
.newexpert-wrapper .top-title h3{
background:#369;
color:#fff;
padding:4px 0 4px 15px;
margin-bottom:10px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
float:left;
width:200px;
}
.newexpert-wrapper .item{
margin-bottom:5px;
}
.newexpert-wrapper .item .detail{
margin-left:10px;
}

.newexpert-wrapper .item .detail .name{
font-size:13px;
color:#369;
}

.newexpert-wrapper .item .detail .tag{
color:#999;
}
.newexpert-wrapper .item .detail p{
width:180px;
overflow:hidden;
height:25px;
line-height:25px;
}
.newtopic-wrapper{
	width:300px;
	margin-right:20px;
	margin-top: 55px;
	
	
}
.newtopic-wrapper .item {
padding: 5px 5px 0 0;
border-bottom: 1px dashed #999;
height: 22px;
}
.newtopic-wrapper .item .title{
padding-right:10px;	
font-size:12px;
}


.newtopic-wrapper .top-title h3{
background:#369;
color:#fff;
padding:4px 0 4px 15px;
margin-bottom:10px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
float:left;
width:200px;
}

.case-wrapper{
margin-top:30px;
width: 600px;	
}
.case-wrapper .more{
margin-top:70px;
margin-right:20px;	
width: 50px;
float: right;
background: #F8F8F8;
text-indent: 0;
}
.case-wrapper .more a{
background:#3681BC;
padding:2px 5px;
color:#fff;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

.case-wrapper .top-title{
	background: url(../images/case-title.jpg) no-repeat 0 0;
	text-indent:-9999em;
	height:140px;
	margin-bottom:10px;
}
.case-wrapper .item{
width:580px;
border-bottom:0;
}
.case-wrapper .content{
width:360px;
border-bottom:0;
}

.case-wrapper .item .des{
color:#999;
}
.list span.time{
	padding-right:10px;
	color:#999;
}

/*****站内信***/
.message label{
	width:40px;
}
.patent-comment .item{
margin-bottom:10px;
}
.patent-comment .child-item{
	margin-left:60px;
	margin-bottom:10px;
	
}
.patent-comment .meta{

	border:1px solid #ccc;
	padding:5px;
	background:#efefef;
}
.patent-comment .des{
	padding:5px;
}
.leave-comment h3{
	margin-bottom:10px;
}
.leave-comment .row textarea{
	width:460px;
	height:150px;
}
.leave-comment .row label {

width: 60px;
}

.leave-comment .btn{
	margin-left:70px;
}

.top_link{
	margin-bottom: 10px;
}